
.container {
    max-width: 1310px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    &_fluid {
        max-width: 100% !important;
    }
}

@media (max-width: 1310px) {
    .container {
        max-width: 768px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 480px;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 100%;
    }
}
