/* stylelint-disable */
@font-face {
  font-family: 'Codec-Warm';
  src: url('../fonts/Codec-Warm/CodecWarm-Bold.woff2') format('woff2'),
    url('../fonts/Codec-Warm/CodecWarm-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Codec-Warm';
  src: url('../fonts/Codec-Warm/CodecWarm-News.woff2') format('woff2'),
    url('../fonts/Codec-Warm/CodecWarm-News.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CodecCold';
  src: url('../fonts/CodecCold/CodecCold-Bold.woff2') format('woff2'),
    url('../fonts/CodecCold/CodecCold-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CodecCold';
  src: url('../fonts/CodecCold/CodecCold-ExtraBold.woff2') format('woff2'),
    url('../fonts/CodecCold/CodecCold-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'CodecCold';
  src: url('../fonts/CodecCold/CodecCold-Regular.woff2') format('woff2'),
    url('../fonts/CodecCold/CodecCold-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CodecCold';
  src: url('../fonts/CodecCold/CodecCold-News.woff2') format('woff2'),
    url('../fonts/CodecCold/CodecCold-News.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}
