
.section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;

    &_face {
        padding-top: 30px;
        padding-bottom: 120px;
        background-image: url("../media/section/face.jpg");
        background-position: center bottom;
        background-size: cover;
    }

    &_causes {
        padding-top: 160px;
    }

    &_cards {
        padding-top: 0;
    }

    &_help {
        background-image: url("../media/section/help.jpg");
        background-position: center top;
        background-size: cover;
    }

    &_sostav {
        background-image: url("../media/section/sostav.jpg");
        background-position: center top;
        background-size: cover;
    }

    &_plus {
        padding-top: 90px;
        padding-bottom: 90px;
        background-image: url("../media/section/plus.jpg");
        background-position: center center;
        background-size: cover;
    }

    &_effect {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &_professional {
        padding-top: 60px;
        padding-bottom: 60px;
        overflow: hidden;
        background-image: url("../media/section/professional.jpg");
        background-position: center center;
        background-size: cover;
    }

    &_commits {
        padding-top: 60px;
        padding-bottom: 40px;
        background-color: #fff;
    }
}

.section__title {
    font-size: 56px;
    font-weight: 800;
    line-height: 1;
}

@media (max-width: 1310px) {
    .section {
        padding-top: 60px;
        padding-bottom: 60px;

        &_face {
            background-image: url("../media/section/face-1310.jpg");
        }

        &_help {
            background-color: #fff;
            background-image: url("../media/section/help-1310.jpg");
        }

        &_plus {
            background-image: url("../media/section/plus-1310.jpg");
        }
    }

    .section__title {
        font-size: 44px;
    }
}

@media (max-width: 768px) {
    .section {
        padding-top: 40px;
        padding-bottom: 40px;

        &_face {
            overflow: hidden;
            background-image: url("../media/section/face-768.jpg");
        }
    }

    .section__title {
        font-size: 38px;
    }
}

@media (max-width: 480px) {
    .section {
        &_cards {
            padding-top: 0;
        }
    }

    .section__title {
        font-size: 30px;
    }
}
