
.causes__head {
    padding: 30px;
    margin-bottom: 30px;
    background-color: #f5443a;
    background-image: url("../media/causes/head-bg.jpg");
    background-position: right center;
    background-size: auto 100%;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, .3);
}

.causes__head-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #fff;

    & span {
        display: block;
    }
}

.causes__head-description {
    max-width: 820px;
    color: #fff;
}

.causes__body {
    display: flex;
}

.causes__media {
    flex: 0 0 auto;
    margin-right: 75px;
}

.causes__title {
    margin-top: 60px;
    margin-bottom: 30px;
}

.causes__list {
    margin-bottom: 20px;
}

.causes__item {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #f54839;
    background-image: linear-gradient(45deg, rgba(245, 71, 57, 1) 0%, rgba(250, 112, 42, 1) 100%);
    border-radius: 3px;

    & + & {
        margin-top: 8px;
    }

    & span {
        flex: 0 0 auto;
        width: 36px;
        min-height: 36px;
        background-color: #2b2a2a;
        background-image: url("../media/causes/close.png");
        background-position: center;
    }

    & p {
        padding: 8px;
        font-size: 18px;
        font-weight: 700;
        color: #fff;
    }
}

.causes__footer {
    position: relative;
    padding: 20px 25px 20px 33px;
    font-family: 'Codec-Warm', sans-serif;
    font-size: 18px;
    font-weight: 300;
    background-color: #f5f5f5;

    & b {
        font-weight: 700;
    }

    &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 8px;
        content: '';
        background-color: #f54839;
        background-image: linear-gradient(0deg, rgba(245, 71, 57, 1) 0%, rgba(250, 112, 42, 1) 100%);
        border-radius: 2px;
    }
}

@media (max-width: 1310px) {
    .causes__body {
        align-items: center;
    }

    .causes__media {
        max-width: 300px;
        margin-right: 30px;
    }

    .causes__item {
        & p {
            font-size: 16px;
        }
    }

    .causes__head-title {
        max-width: 470px;
        font-size: 19px;
    }

    .causes__head-description {
        max-width: 470px;
    }

    .causes__head {
        background-image: url("../media/causes/head-bg-1310.jpg");
    }

    .causes__title {
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    .causes__head-title {
        margin-bottom: 10px;
        font-size: 16px;
    }

    .causes__head {
        background-image: url("../media/causes/head-bg-768.jpg");
        background-size: cover;
    }

    .causes__body {
        flex-direction: column;
    }

    .causes__media {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .causes__title {
        margin-top: 0;
    }
}
