.commits__title {
    margin-bottom: 30px;
    text-align: center;
}

.commits__title span {
    display: block;
}

.commits__box .owl-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 10px !important;
}

.commits__box .owl-dot {
    width: 15px !important;
    height: 15px !important;
    margin-right: 3px !important;
    margin-left: 3px !important;
    background-color: #fff !important;
    border: 1px solid #000 !important;
    border-radius: 50% !important;
}

.commits__box .owl-dot.active {
    background-color: #75ba8e !important;
    border-color: #75ba8e !important;
}

.commits__box .owl-dot:focus {
    outline: none;
}

.commits__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 85px 50px 50px;
    margin: 60px 0 20px;
    background-color: #f5f5f5;
}

.commits__face {
    position: absolute;
    top: 0;
    left: 50%;
    width: 120px;
    height: 120px;
    overflow: hidden;
    background-color: #e96771;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.commits__name {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

.commits__name span {
    display: block;
    margin-top: 5px;
    font-family: "Codec-Warm", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.commits__description {
    width: 100%;
    margin-bottom: 20px;
    line-height: 21px;
}

.commits__star {
    max-width: 150px;
}

@media (max-width: 1310px) {
    .commits__item {
        padding-right: 25px;
        padding-bottom: 25px;
        padding-left: 25px;
    }
}

@media (max-width: 480px) {
    .commits__item {
        padding: 75px 15px 15px;
    }
}
