.effect__title {
    max-width: 675px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    text-align: center;
}

.effect__description {
    max-width: 940px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    font-size: 18px;
    text-align: center;
}

.effect__subtitle {
    margin-bottom: 30px;
    font-size: 25px;
    text-align: center;
}

.effect__list {
    max-width: 750px;
    margin-right: auto;
    margin-left: auto;
}

.effect__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 25px 60px 25px 25px;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.13);

    & > span {
        &:first-child {
            flex: 0 0 auto;
            margin-right: 25px;
            font-size: 36px;
            color: #fff;
        }

        &:last-child {
            max-width: 400px;
            color: #fff;
        }
    }

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        content: '';
        background-color: #606060;
    }

    & + & {
        margin-top: 35px;
    }

    &:nth-child(1) {
        background-color: rgb(251, 136, 51);
        background-image: linear-gradient(180deg, rgba(251, 136, 51, 1) 0%, rgba(249, 88, 33, 1) 100%);

        &::before {
            width: 40px;
        }
    }

    &:nth-child(2) {
        background: rgb(247, 84, 70);
        background: linear-gradient(180deg, rgba(247, 84, 70, 1) 0%, rgba(243, 54, 46, 1) 100%);

        &::before {
            width: 60px;
        }
    }

    &:nth-child(3) {
        background: rgb(244, 61, 104);
        background: linear-gradient(180deg, rgba(244, 61, 104, 1) 0%, rgba(238, 40, 69, 1) 100%);

        &::before {
            width: 80px;
        }
    }
}

@media (max-width: 480px) {
    .effect__item {
        padding: 15px;

        & > span {
            &:first-child {
                margin-right: 15px;
                font-size: 26px;
            }

            &:last-child {
                max-width: 100%;
            }
        }

        &::before {
            display: none;
        }

        & + & {
            margin-top: 15px;
        }
    }

    .effect__subtitle {
        font-size: 19px;
    }

    .effect__title {
        margin-bottom: 20px;
    }
}
