
.footer {
    padding: 160px 0 20px;
    color: #000;
    text-align: center;
    background-color: #fff;

    & a {
        color: #000;
    }
}

@media (max-width: 1310px) {
    .footer {
        padding-top: 60px;
    }
}

@media (max-width: 768px) {
    .footer {
        padding-top: 20px;
    }
}
