<section class="section section_cards">
    <div class="container container_fluid">
        <div class="cards">
            <div class="section__title cards__title">Органы-мишени</div>
            <div class="cards__box">
                <div class="cards__item">
                    <div class="cards__name">Мозг</div>
                    <ul>
                        <li>Нарушение кровообращения</li>
                        <li>Снижение памяти и интеллекта</li>
                        <li>Инсульт</li>
                    </ul>
                </div>
                <div class="cards__item">
                    <div class="cards__name">Сердце</div>
                    <ul>
                        <li>Стенокардия</li>
                        <li>Кардиомиопатия</li>
                    </ul>
                </div>
                <div class="cards__item">
                    <div class="cards__name">Глаза</div>
                    <ul>
                        <li>Отслойка сетчатки</li>
                        <li>Кардиомиопатия</li>
                        <li>Инфаркт миокарда</li>
                    </ul>
                </div>
                <div class="cards__item">
                    <div class="cards__name">Почки</div>
                    <ul>
                        <li>Нефросклероз</li>
                        <li>Почечная недостаточность</li>
                        <li>Потребность в гемодиализе</li>
                    </ul>
                </div>
                <div class="cards__item">
                    <div class="cards__name">Сосуды</div>
                    <ul>
                        <li>Истончение стенок сосудов и артерий</li>
                        <li>Аневризмы</li>
                        <li>Атеросклероз</li>
                    </ul>
                </div>
            </div>
            <div class="cards__footer">
                Гипертония может стать причиной внезапной смерти в любой момент.
                <mark>Успейте начать правильное лечение вовремя!</mark>
            </div>
        </div>
    </div>
</section>