<section class="section section_causes">
    <div class="container">
        <div class="causes">
            <div class="causes__head">
                <div class="causes__head-title">Гипертония — ключевой фактор риска смерти <span>от болезней сердечно-сосудистой системы.</span></div>
                <div class="causes__head-description">От этого недуга страдает более миллиарда человек по всему миру. Ежегодно повышенное артериальное давление становится причиной 10 миллионов случаев смертей. ﻿Врачи называют это настоящей смертельной эпидемией.</div>
            </div>
            <div class="causes__body">
                <div class="causes__media"><img src="../media/causes/heart.jpg" alt=""></div>
                <div class="causes__box">
                    <div class="section__title causes__title">Причины возникновения гипертонии</div>
                    <div class="causes__list">
                        <div class="causes__item"><span></span> <p>Возраст старше 35 лет</p></div>
                        <div class="causes__item"><span></span> <p>Повышенный уровень холестерина</p></div>
                        <div class="causes__item"><span></span> <p>Наследственность</p></div>
                        <div class="causes__item"><span></span> <p>Курение</p></div>
                        <div class="causes__item"><span></span> <p>Лишний вес</p></div>
                        <div class="causes__item"><span></span> <p>Сахарный диабет</p></div>
                        <div class="causes__item"><span></span> <p>Малоподвижность</p></div>
                    </div>
                    <div class="causes__footer"><b>Необходимо помнить, что гипертония – это «тихий убийца».</b> У нее нет явных симптомов, но она поражает все жизненно важные органы.</div>
                </div>
            </div>
        </div>
    </div>
</section>