<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title">Отзывы о Wellcard</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/img-1.jpg" alt=""></div>
                    <div class="commits__name">Алевтина <span>58 лет</span></div>
                    <div class="commits__description">Я страдала от повышенного давления более 12 лет и была вынуждена принимать гипотензивные препараты на ежедневной основе. Со временем начала замечать, что сердце стало болеть. Появилась аритмия, иногда казалось, что сердце просто замирает. Обратилась к врачу, который мне пояснил, что это частый побочный эффект многих сосудорасширяющих препаратов, и назначил мне WELLCARD. Купила несколько упаковок на целый курс, начала принимать. Вот уже полгода прошло, давление всегда в пределах нормы, о горах таблеток уже не вспоминаю.</div>
                    <div class="commits__star">
                        <img src="../media/commits/star.png" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/img-2.jpg" alt=""></div>
                    <div class="commits__name">Иван <span>63 года</span></div>
                    <div class="commits__description">Могу назвать себя гипертоником со стажем. Чем я только ни пытался лечиться за это время, домашняя аптечка разрасталась в геометрической прогрессии. Но что бы я ни пробовал, рано или поздно происходило привыкание, приходилось постоянно чередовать различные средства и искать новые. Таким образом я и наткнулся на WELLCARD. Проконсультировался со знакомым кардиологом, который сказал, что это отличное средство, с которым я забуду о гипертонии навсегда. И он не обманул! После WELLCARD больше ни одного приступа у меня не было.</div>
                    <div class="commits__star">
                        <img src="../media/commits/star.png" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/img-3.jpg" alt=""></div>
                    <div class="commits__name">Дарья <span>49 лет</span></div>
                    <div class="commits__description">У меня давление скакало по несколько раз в день. С этой проблемой я была знакома уже не первый год и даже как-то научилась с ней справляться. Пыталась разными способами: изменила диету – никакого соленого и острого, не пила кофе; старалась меньше нервничать, пила кучу лекарств. Но никакие из них не действовали на дистанции. Так было, пока мне в руки не попал WELLCARD. Так легко, как с этим средством, я себя еще никогда не чувствовала. Я начала легко засыпать и просыпаться, забыла о слабости, тошноте и головной боли. Самое приятное – эффект долгосрочный.</div>
                    <div class="commits__star">
                        <img src="../media/commits/star.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>