<section class="section section_effect">
    <div class="container">
        <div class="effect">
            <div class="section__title effect__title">Эффективность доказана клинически</div>
            <div class="effect__description">Исследование проводилось Институтом сердечно-сосудистых заболеваний в течение 2019 года. 1634 добровольца с гипертонией различной степени принимали Wellcard в течение месяца.</div>
            <div class="effect__subtitle">В конце испытания были получены следующие данные:</div>
            <div class="effect__list">
                <div class="effect__item"><span>96%</span><span>Оздоравливает весь организм, насыщая кровь полезными веществами</span></div>
                <div class="effect__item"><span>92%</span><span>Повышение эластичности сосудов, расщепление кровяных сгустков и тромбов</span></div>
                <div class="effect__item"><span>90%</span><span>Отсутствие симптомов гипертонии в течение 6 месяцев после окончания курсового приема</span></div>
            </div>
        </div>
    </div>
</section>