<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__logo"><img src="../media/face/logo.png" alt=""></div>
            <div class="face__body">
                <div class="face__box face__box_first">
                    <div class="section__title face__title">Побеждает гипертонию и продлевает жизнь</div>
                    <div class="face__list">
                        <div class="face__item">
                            <div class="face__media"></div>
                            <p>Возвращает <span>сосудам эластичность</span></p>
                        </div>
                        <div class="face__item">
                            <div class="face__media"></div>
                            <p>Снижает уровень <span>гормона стресса</span></p>
                        </div>
                        <div class="face__item">
                            <div class="face__media"></div>
                            <p>Предотвращает <span>инфаркты и инсульты</span></p>
                        </div>
                        <div class="face__item">
                            <div class="face__media"></div>
                            <p>Очищает стенки сосудов <span>от холестерина</span></p>
                        </div>
                        <div class="face__item">
                            <div class="face__media"></div>
                            <p>Не вызывает резких <span>перепадов давления</span></p>
                        </div>
                    </div>
                    <div class="face__product"><img src="../media/product.png" alt=""></div>
                </div>
                <div class="face__box">
                    <div class="form">
                        <div class="form__title">Заказать Wellcard <span>прямо сейчас</span></div>
                        <div class="form__price">
                            <div class="form__price-old">990 rub</div>
                            <div class="form__price-new">99 rub</div>
                        </div>
                        <div class="form__body">
                            <label class="form__label">
                                <select class="form__field form__select">
                                    <option selected="" value=""></option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                                <span>Страна</span>
                            </label>
                            <label class="form__label">
                                <input type="text" class="form__field">
                                <span>Имя</span>
                            </label>
                            <label class="form__label">
                                <input type="text" class="form__field">
                                <span>Телефон</span>
                            </label>
                        </div>
                        <div class="form__time">
                            <div class="form__time-title">До конца акции осталось:</div>
                            <div class="form__time-box">
                                <div class="form__time-count">
                                    <span>00</span>
                                    <span>часов</span>
                                </div>
                                <span>:</span>
                                <div class="form__time-count">
                                    <span>21</span>
                                    <span>минут</span>
                                </div>
                                <span>:</span>
                                <div class="form__time-count">
                                    <span>48</span>
                                    <span>секунд</span>
                                </div>
                            </div>
                        </div>
                        <button class="form__btn">Заказать Wellcard</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>