<section class="section section_help">
    <div class="container">
        <div class="help">
            <div class="help__body">
                <div class="section__title help__title">Wellcard — избавляет от гипертонии</div>
                <div class="help__list">
                    <div class="help__item">
                        <span></span>
                        <p>Восстанавливает нормальное артериальное давление без резких перепадов</p>
                    </div>
                    <div class="help__item">
                        <span></span>
                        <p>Улучшает мозговое кровообращение</p>
                    </div>
                    <div class="help__item">
                        <span></span>
                        <p>Укрепляет стенки сосудов, снижая риск возникновения инфаркта и инсульта</p>
                    </div>
                    <div class="help__item">
                        <span></span>
                        <p>Нормализует сердечный ритм</p>
                    </div>
                    <div class="help__item">
                        <span></span>
                        <p>Снижает уровень сахара, холестерина и триглицеридов в крови</p>
                    </div>
                    <div class="help__item">
                        <span></span>
                        <p>Нейтрализует последствия частых выбросов гормонов стресса</p>
                    </div>
                    <div class="help__item">
                        <span></span>
                        <p>Обеспечивает естественный уровень и углекислого газа и кислорода в крови</p>
                    </div>
                    <div class="help__item">
                        <span></span>
                        <p>Регулирует гормональный фон организма</p>
                    </div>
                </div>
                <div class="help__product">
                    <img src="../media/help/product.png" alt="">
                </div>
                <a href="" class="help__btn">Заказать Wellcard</a>
            </div>
        </div>
    </div>
</section>