<section class="section section_plus">
    <div class="container">
        <div class="plus">
            <div class="plus__body">
                <div class="section__title plus__title">Преимущества Wellcard</div>
                <div class="plus__list">
                    <div class="plus__item">Оздоравливает весь организм, насыщая кровь полезными веществами</div>
                    <div class="plus__item">Успокаивает центральную нервную систему</div>
                    <div class="plus__item">Налаживает работу сердечено-сосудистой системы</div>
                    <div class="plus__item">Стимулирует кровоснабжение головного мозга</div>
                    <div class="plus__item">Обеспечивает полное избавление от гипертонии</div>
                </div>
            </div>
            <div class="plus__human">
                <img src="../media/plus/human.png" alt="">
            </div>
        </div>
    </div>
</section>