<section class="section section_professional">
    <div class="container">
        <div class="professional">
            <div class="section__title professional__title">Что говорят врачи?</div>
            <div class="professional__body">
                <div class="professional__info">
                    <p>Артериальной гипертонией страдает каждый пятый человек, а после пятидесяти – каждый второй. Это чрезвычайно опасное состояние, которое в любой момент может привести к непоправимым последствиям – стать причиной инвалидности или даже смерти. Между тем, люди зачастую не замечают этого состояния, не осознают его серьезности или просто лечатся неправильно. Отсюда такая ужасающая статистика смертности от сердечно-сосудистых заболеваний по всему миру – около 40% от всех смертей.</p>
                    <p>Проблема подавляющего большинства препаратов в том, что они лишь временно снижают давление, убирая только симптомы.
                        Wellcard же действует на причину заболевания, очищает стенки сосудов от холестериновых бляшек, разжижает кровь, укрепляет сосуды
                        и делает их эластичнее.</p>
                    <p>Wellcard мягко снижает давление, не вызывает привыкания и не имеет побочных действий. Это единственный препарат, который способен избавить
                        от гипертонии навсегда.</p>
                </div>
            </div>
            <div class="professional__footer">
                <div class="professional__name">Олег Викторов,</div>
                <div class="professional__job">врач-кардиолог, кандидат <span>медицинских наук</span></div>
                <div class="professional__id"><img src="../media/professional/id.png" alt=""></div>
            </div>
            <div class="professional__human">
                <img src="../media/professional/human.png" alt="">
            </div>
        </div>
    </div>
</section>