
<section class="section section_sostav">
    <div class="container">
        <div class="sostav">
            <div class="section__title sostav__title">Полностью <span>натуральный</span> состав</div>
            <div class="sostav__body">
                <div class="sostav__item">
                    <div class="sostav__item-head">
                        <div class="sostav__media"></div>
                        <div class="sostav__info">
                            <div class="sostav__name">Лимон</div>
                            <div class="sostav__description">Повышает эластичность сосудистой стенки, снижает ее сопротивление току крови, снимает спазм сосудов, укрепляет ткани артерий. Снимает боли, вызванные спазмом артерий, предотвращает развитие осложнений гипертонии.</div>
                        </div>
                    </div>
                </div>
                <div class="sostav__item">
                    <div class="sostav__item-head sostav__item-head_reverse">
                        <div class="sostav__media sostav__media_right"></div>
                        <div class="sostav__info">
                            <div class="sostav__name">Лен</div>
                            <div class="sostav__description">Значительно снижает болезненную симптоматику, очищает кровеносные сосуды от холестериновых бляшек и атеросклеротических тромбов, а также укрепляет общее состояние организма.</div>
                        </div>
                    </div>
                </div>
                <div class="sostav__item">
                    <div class="sostav__item-head">
                        <div class="sostav__media"></div>
                        <div class="sostav__info">
                            <div class="sostav__name">Свекла</div>
                            <div class="sostav__description">Снижает артериальное давление, препятствует инфильтрации печени, регулирует жировой обмен и не дает повышаться кровяному давлению. Улучшает функцию кровеносных сосудов.</div>
                        </div>
                    </div>
                </div>
                <div class="sostav__item">
                    <div class="sostav__item-head sostav__item-head_reverse">
                        <div class="sostav__media sostav__media_right"></div>
                        <div class="sostav__info">
                            <div class="sostav__name">Витамины группы В</div>
                            <div class="sostav__description">Нормализуют работу нервной и сердечно-сосудистой системы, улучшают работу кишечника и способствуют выведению из организма холестерина.</div>
                        </div>
                    </div>
                </div>
                <div class="sostav__item">
                    <div class="sostav__item-head">
                        <div class="sostav__media"></div>
                        <div class="sostav__info">
                            <div class="sostav__name">Чеснок</div>
                            <div class="sostav__description">Стимулирует процесс синтеза оксида азота и сероводорода, оказывая расслабляющее действие на сосуды. Способствует расширению артерий и артериол, что понижает артериальное давление.</div>
                        </div>
                    </div>
                </div>
                <div class="sostav__item">
                    <div class="sostav__item-head sostav__item-head_reverse">
                        <div class="sostav__media sostav__media_right"></div>
                        <div class="sostav__info">
                            <div class="sostav__name">Магний</div>
                            <div class="sostav__description">Под действием этого микроэлемента мышцы расслабляются, сосуды расширяются и давление приходит в норму. Регулирует энергетический обмен в сердечной мышце и обеспечивает питание клеток кислородом.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sostav__product">
                <img src="../media/product.png" alt="">
            </div>
        </div>
    </div>
</section>
